body {
    Background: Gray;
}

#videoBox {
    Text-Align: Center;
}

.title {
    Width: 100%;
    Height: 30px;
    padding-top: 7px;
    Position: Relative;
    Top: -4Px;
    Left: -3.3Px;
    Border-Radius: 8Px;
    Border: 3Px Solid;
}

.video {
    Width: 100%;
    Height: 230Px;
    Position: Relative;
    Top: -12Px;
    Left: -3.3Px;
    Text-Align: Center;
    Border-Radius: 8Px;
    Border: 3Px Solid;
}

.programList {
    Width: 98.5%;
    Position: Relative;
    Top: -34Px;
    Left: -3.3Px;
    Height: 100%;
    Margin-Top: 30Px;
    Text-Align: Center;
    Border-Radius: 8Px;
    Border: 3Px Solid;
}

.choose {
    Width: 100%;
    Height: 100%;
    Margin-Top: 6Px;
    Margin-Left: -23Px;
    Text-Align: Center;
    Border-Radius: 8Px;
    Border: 3Px Solid;
}

ul {
    List-Style: None;
}
